:root {
    --black: #151515;
    --green: #4EE1A0;
    --dark-grey: #242424;
    --grey: #d9d9d9;
    --white: #FFFFFF;
}

body {
    font-family: Grotesk;
    background-color: var(--black);
}

/* nav */
.adamkeys_container {
    gap: 20px;
    position: fixed;
    top: 20px;
}
.adamkeyes {
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.333px;
}
.social-icons {
    gap: 25.6px;
}

.icon img {
    width: 19.686px;
    height: 19.2px;
}