:root {
    --black: #151515;
    --green: #4EE1A0;
    --dark-grey: #242424;
    --grey: #d9d9d9;
    --white: #FFFFFF;
}

body {
    font-family: Grotesk;
    background-color: var(--black);
}

.mainContainer {
    padding: 0 16px;
}

/* nav */
.adamkeys_container {
    gap: 20px;
    position: absolute;
    top: 20px;
}
.adamkeyes {
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.333px;
}
.social-icons {
    gap: 25.6px;
}

.icon img {
    width: 19.686px;
    height: 19.2px;
}

/* main */
/* introduction section  */
.introduction {
    gap: 40px;
    margin-bottom: 80px;
}
.imageDiv img {
    width: 174px;
    height: 383px;
}
.introduction_content .heading {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.136px;
}
.introduction_content p {
    color: var(--grey, #D9D9D9);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.contactme {
    display: inline-block;
    text-transform: uppercase;
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.286px;
    padding-bottom: 10px;
    border-bottom: 2px solid #4EE1A0;
}
/* skills */
.skills {
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    margin-bottom: 80px;
}

.skills .item div {
    color: var(--white);
    font-size: 32px;
    font-family: Grotesk;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
}
.skills .item p {
    color: var(--grey);
    font-size: 16px;
    font-family: Grotesk;
    font-weight: 500;
    line-height: 26px;
}